/* carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: rgb(75, 61, 61);
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}

.carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0000ff;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/*register + login pages */
.authbtn {
  background-color: green;
  color: white;
}

.content {
  flex: 1;
  padding: 5em;
}

#filtericon {
  color: rgb(241, 111, 235);
}
#filtericon:hover {
  color: rgb(236, 34, 34);
}

.videocover:hover {
  opacity: 50%;
}

/* styles for '...' */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 4.8em;
  text-align: justify;
  margin-right: 0em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.parallax {
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#courserow:hover {
  background-color: rgb(236, 247, 248);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

#replyinput {
  border-radius: 0.5em;
}
#replyinput:focus {
  border-radius: 0.5em;
  border-color: aqua;
  outline: none;
}
