{%extends "courses/layout.html"%}{%load static%} {%block body%}
<div class="container content">
  <h1>{{course.title}}</h1>
  <p>{{course.description}}</p>
  {%for video in videos%}
  <div class="container" style="padding: 1em">
    <div class="row">
      <div
        class="col-sm videocover"
        data-value="{{video.title}}"
        id="{{video.id}}"
      >
        <a href="/videodetails/{{video.id}}">
          <img src="{{video.img}}" class="img-fluid rounded" />
          <p class="carousel-caption" id="caption{{video.id}}">
            {{video.title}}
          </p></a
        >
      </div>
      <div class="col-sm">
        <h4>{{video.title}}</h4>
        <div class="block-with-text">
          <p>{{video.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{%endblock%}{%block script%}
<script src="{% static 'courses/coursedetail.js' %}"></script>
{%endblock%}
