{%extends 'courses/layout.html'%}{%load static%} {%block body%}
<div class="content">
  <!--VIDEO+INFORMATION-->
  <div class="video-info">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/coursedetails/{{video.course.id}}"
            >{{video.course.title}}</a
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{video.title}}
        </li>
      </ol>
    </nav>
    <!--parallax-->
    <div
      class="parallax"
      style="background-image: url('{{video.img}}');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;"
    >
      <h1>{{video.title}}</h1>
    </div>
    <!--video description, video, icons -->
    <div class="container" style="padding-top: 3em">
      <p>{{video.description}}</p>
      <iframe
        src="{{video.url}}"
        scrolling="no"
        border="0"
        frameborder="no"
        framespacing="0"
        allowfullscreen="true"
        width="100%"
        height="400em"
      >
      </iframe>
      <p>or, go to site <a href="{{video.url}}">bilibili</a></p>
      <!--icon links-->
      <div
        class="d-flex bd-highlight"
        style="padding-bottom: 3em; text-align: center"
      >
        <div class="p-2 flex-fill bd-highlight">
          <i class="fas fa-film" style="font-size: 50px"></i>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <i class="fas fa-pencil-alt" style="font-size: 50px"></i>
        </div>
        <div class="p-2 flex-fill bd-highlight">
          <i class="fas fa-book" style="font-size: 50px"></i>
        </div>
      </div>
    </div>
  </div>

  <!--COMMENTAREA-->
  <div class="commentarea">
    {%if request.user.is_authenticated%}
    <!--leave a comment-->
    <div class="commentbox">
      <p id="error_msg"></p>
      <div class="d-flex">
        <img
          src="/static/courses/img/balloons.jpg"
          class="mr-3"
          alt="..."
          style="width: 3em; height: 3em; border-radius: 50%; object-fit: cover"
        />
        <textarea
          placeholder="Leave a comment..."
          id="{{video.id}}comment"
          class="form-control commenttxt"
          name="comment"
          data-id="{{video.id}}"
          rows="3"
          cols="80"
        ></textarea>
        <button
          class="btn btn-success commentbtn"
          type="button"
          style="margin-left: 1em"
          disabled="true"
        >
          Comment
        </button>
      </div>
    </div>

    {%else%}
    <p>Please login/register to comment!</p>
    {%endif%}
    <hr />
    <!--sort by date/popular-->
    <div class="d-flex" style="padding-bottom: 2em">
      <div class="p-2" id="commentnum"></div>
      <div class="p-2 ml-auto">
        sort by... <span><a href="#">date</a> | <a href="#">popular</a></span>
      </div>
    </div>
    <!--comments!-->
    <div id="comments_list"></div>
  </div>
</div>

{%endblock%} {%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="{%static 'courses/videodetails.js'%}"></script>
{%endblock%}
